@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald/oswald-bold-webfont.woff2') format('woff2'),
  url('../fonts/oswald/oswald-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.oswald {
  font-family: 'Oswald';
}